@media (min-width:1024px) {
    footer {
    margin-top: 100px;
    margin-bottom: 0px;
    padding: 80px;
    border: 2px solid #000000;
    background-color: #0657a8;
    text-decoration: none;
    height: 150px;
    div {
        a {
        text-decoration: none;
    } 
    }    
    }
}
@media (min-width:768px) {
    footer {
        border: 2px solid #000000;
        background-color: #0657a8;
        height: 130px;
        margin-bottom: 0px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        div {
            & a {text-decoration: none;
        }
}
}
}
@media (min-width:320px) {
    footer {
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        border: 2px solid #000000;
        background-color: #0657a8;
        height: 120px;
        margin-bottom: 0px;
        width: 100%;
        div {
            & a {text-decoration: none;}
        }
        
}
}